/* Apply Helvetica font to the entire application */
body {
  font-family: 'Helvetica', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Typewriter Animation */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typewriter {
  font-family: 'Courier New', Courier, monospace; /* Set typewriter font */
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 4s steps(30, end) forwards; /* Ensure the animation occurs only once */
}

.typewriter-text {
  display: inline;
  color: black; /* Initial text color */
}

.chatbot-green-background {
  background-color: rgb(102, 221, 170);
}

/* CSS to differentiate and align chat bubbles */

.user-message .cs-message__content {
  background-color: orange !important; /* Background color for user messages */
  color: black; /* Text color for user messages */
  text-align: right; /* Align text to the right */
  border-radius: 15px; /* Rounded corners for user message bubbles */
}

.user-message {
  display: flex;
  justify-content: flex-end; /* Align user message bubble to the right */
}

.chatbot-message .cs-message__content {
  background-color: lightgreen !important; /* Background color for chatbot messages */
  color: black; /* Text color for chatbot messages */
  text-align: left; /* Align text to the left */
  border-radius: 15px; /* Rounded corners for chatbot message bubbles */
}

.chatbot-message {
  display: flex;
  justify-content: flex-start; /* Align chatbot message bubble to the left */
}









